{% extends 'layout.html.twig' %}

{% block title %} Music Player - Home{% endblock %}

{% block body %}
    <div>
        <div class="row">
            <h1>Afficher Les derniers media ajouter</h1>

        </div>
    </div>
{% endblock %}

